<div class="container">
  <div class="row g-3">
    
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>
    <app-card-usuario class="col-12 col-md-6 col-lg-3"></app-card-usuario>

  </div>
</div>